@model UserViewModel
@{
    ViewData["Title"] = $"Личные данные пользователя {Model.Name} - интернет-магазин Знаки Внимания";
}

<div class="container">
    <div class="pb-3 shadow-lg">
        <h4 class="h4 ps-1" >Пользователь @Model.Name</h4>
        <hr />
        <table class="table">
            <tbody>
                <tr>
                    <td class="col-3">Имя:</td>
                    <td>@Model.FirstName</td>
                </tr>
                <tr>
                    <td class="col-3">Фамилия:</td>
                    <td>@Model.LastName</td>
                </tr>
                <tr>
                    <td class="col-3">Номер телефона:</td>
                    <td>@Model.Phone</td>
                </tr>
            </tbody>
        </table>
        <div class="dropstart m-1 text-end">
            <button class="btn btn-outline-light text-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="true">
                Действия
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" 
                        asp-area="" 
                        asp-controller="UserPersonal" 
                        asp-action="ChangePassword" 
                        asp-route-userName="@Model.Name">
                        Смена пароля
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" 
                        asp-area=""
                        asp-controller="UserPersonal" 
                        asp-action="Edit">
                        Редактирование данных
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
