@model ProductsPaginationViewModel
@{
    ViewData["Title"] = "Знаки внимания - интернет-магазин цветов";
}
<div class="container">
    @await Html.PartialAsync("Search")
    <div class="row d-flex justify-content-evenly gap-5">
        @foreach(var product in Model.Products)
        {
            <div class="card col-3 shadow-lg">
                @if(product.ImagesPaths.Count > 0)
                {
                    <img class="card-img-top h-50" src="@product.ImagesPaths[product.ActiveIndexImagePath]" alt="@product.Name" />
                }
                <div class="card-body d-flex flex-column justify-content-around">
                    <a class="card-link text-decoration-none" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
                        <h4 class="card-title">@product.Name</h4>
                    </a>
                    <h5 class="card-title text-black">@product.Cost</h5>
                    <div class="d-flex gap-1">
                        <button class="buttonAddToCart btn btn-outline-primary btn-sm w-50" data-productId="@product.Id">В корзину</button>
                        <button class="buttonAddToFavorites btn btn-outline-success btn-sm w-50" data-productId="@product.Id">В избранное</button>
                    </div>
                </div>
            </div>
        }
        <div class="row d-flex flex-row gap-1">
            @if (Model.Pagination.HasPreviousPage)
            {
                <a class="nav-link text-primary btn btn-outline-light w-auto" role="button"
                   asp-area=""
                   asp-controller="Home"
                   asp-action="Index"
                   asp-route-pageNumber=1>
                   Первая
                </a>
                <a class="nav-link text-primary btn btn-outline-light w-auto" role="button"
                   asp-area=""
                   asp-controller="Home"
                   asp-action="Index"
                   asp-route-pageNumber=@(Model.Pagination.PageNumber - 1)>
                   &lt&ltПредыдущая
                </a>
            }
            @if(Model.Pagination.StartNumbering != Model.Pagination.EndNumbering)
            {
                for (int pageNumber = Model.Pagination.StartNumbering; pageNumber <= Model.Pagination.EndNumbering; pageNumber++)
                {
                    <a class="text-primary btn btn-outline-light @(pageNumber == Model.Pagination.PageNumber ? "active" : "") w-auto" role="button"
                       asp-area=""
                       asp-controller="Home"
                       asp-action="Index"
                       asp-route-pageNumber=@pageNumber>
                       @pageNumber
                    </a>

                }

            }
            @if (Model.Pagination.HasNextPage)
            {
                <a class="nav-link text-primary btn btn-outline-light w-auto" role="button"
                   asp-area=""
                   asp-controller="Home"
                   asp-action="Index"
                   asp-route-pageNumber=@(Model.Pagination.PageNumber + 1)>
                   Следующая&gt&gt
                </a>
                <a class="nav-link text-primary btn btn-outline-light w-auto" role="button"
                   asp-area=""
                   asp-controller="Home"
                   asp-action="Index"
                   asp-route-pageNumber=@(Model.Pagination.TotalPages)>
                   Последняя
                </a>

            }
        </div>
    </div>
</div>
